body{
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h1,h2{
    color: #003366;
}

input, textarea, button{
    display: block;
    margin: 10px 0;
    padding: 10px;
}

button{
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0055a5;
}

nav a{
    margin-right: 10px;
    text-decoration: none;
    color: #003366;
}
nav a:hover{
    color: #0055a5;
}